<div class="container">
  <h1>Formularios</h1>
  <div class="row">
    <div class="col-sm-6">
      <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
        <div class="form-group"><label for="usr">Nombre:</label>
          <input type="text" #Nombre name="Nombre" [(ngModel)]="datos.Nombre" class="form-control" id="usr">
        </div>
        <div class="form-group"><label for="usr">Apellido:</label>
          <input type="text" #Apellido name="Apellido" [(ngModel)]="datos.Apellido" class="form-control" id="usr">
        </div>
        <div class="form-group"><label for="usr">Edad:</label>
          <input type="text" #Edad name="Edad" [(ngModel)]="datos.Edad" class="form-control" id="usr">
        </div>
        <button>Submit</button>
        <button type="button" (click)="resetForm(userForm)">Reset</button>
      </form>
    </div>
    <div class="col-sm-6">
      <div>
        <p>Form value: <b> {{ userForm.value | json }} </b></p>
        <p>Form valid: <b>   {{ userForm.valid }} </b></p>
        <p>Form touched: <b> {{ userForm.touched }} </b></p>
        <p>Form submitted: <b> {{ userForm.submitted }} </b></p>
        <div>
          <p>Name value: <b> {{ Nombre.value }} </b></p><p>Name valid: <b> {{ Nombre.valid }} </b></p>
        </div>
        <div>
          <p>Name value: <b> {{ Apellido.value }} </b></p><p>Name valid: <b> {{ Apellido.valid }} </b></p>
        </div>
        <div>
          <p>Name value: <b> {{ Edad.value }} </b></p><p>Name valid: <b> {{ Edad.valid }} </b></p>
        </div>
      </div>
    </div>
  </div>
</div>